.videoHome iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.sectionTitle h2 a {
    font-weight: bold;
}

.videoHome .sectionTitle p {
    color: #404040;
}

@media only screen and (min-width: 1025px) {
    .list-albums .list-feature .thumbs-album {
        width: 260px;
        height: 260px;
    }

    .list-albums .list-feature li .album-icon .thumbs-album {
        margin: 0px 25px 20px 25px;
    }
}

@media (min-width: 800px) {
    .blogHomeSection .blogBox {
        margin-bottom: 30px;
    }
}
